.terminal, 
span, 
.cmd, 
div { 
    --color: rgba(0, 255, 255, 0.99); 
} 

.terminal, 
span { 
    --size: 1.4; 
} 
svg {
    width: 100%;
    overflow: auto;
}

svg text {
    line-height: 100%;
    white-space: pre;
    font-family: monospace;
    font-size: 8px;
    fill: #666;
    user-select:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

